<section class="card text-center col-5 m-1">
  <div class="card-head">
    <h3 class="card-title" id="{{post_id}}">{{title}}</h3>
    <div>
      <p>Posted by
        <span id="username">{{user.username}}</span>
        at
        {{format_date updatedAt}}
      </p>
    </div>
  </div>
  <div class="card-body">
    {{post_content}}
  </div>
</section>